<%- include ("partials/header"); %>
<div class="user-dashboard">
                <h1>Add Medicines</h1><br><br>
                <h2><b><%=companyis %></b></h2><br><br>
                <form action="/addmeds", method="POST">
                    <div class="container" style="font-size: large">
                            <label for="mname" >Medicine Name  </label>
                            <input  type="text" id="mname" name="medname" placeholder="Medicine name"><br><br>

                            <label for="mprice">Price  </label>
                            <input type="text" id="mprice" name="mprice" placeholder="Medicine Price"><br><br>

                            <label for="qty">Quantity  </label>
                            <input type="number" id="qty" name="qty" placeholder="Qty"><br><br>

                            <button  style="margin:5px;" class="btn"><i class="fa fa-plus"></i> Add</button>
                    </div>
                </form>
            </div>
<%- include ("partials/footer"); %>