<%- include ("partials/header"); %>
                <div class="user-dashboard">
                    <h1>Welcome to Company Portal</h1>
                    <h2><b><%=companyis %></b></h2><br><br>
                    <h3>Visit our online Company Portal as it has features which none other portal can offer<br><br>
					<h4>->Easy interface<br><br>
                    ->Update your available stock easily so that customers can come to know<br><br>
                    ->Help us to provide medicines at places where shops aren't nearby<br><br></h4>
                </div>
<%- include ("partials/footer"); %>
