<!DOCTYPE html>
<html lang="en">
<head>
  <title>FirstCare</title>
  <meta charset="utf-8">
  <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRYFA2Ch1DHFrWXrBrr2W4aC8pgwNKKWAXe7E26fdGd4uP-2AsE&usqp=CAU">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
body{
  background: linear-gradient(to top, #0099ff 0%, #33cccc 80%);
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form-1{
    padding: 9%;
    background:#00b898;
	font-family: 'Cairo', sans-serif;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
	
}
.login-form-1 h3{
	font-family: 'Cairo', sans-serif;
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.login-form-2{
    font-family: 'Cairo', sans-serif;
    padding: 9%;
    background:  #248f8f;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
	font-family: 'Cairo', sans-serif;
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRYFA2Ch1DHFrWXrBrr2W4aC8pgwNKKWAXe7E26fdGd4uP-2AsE&usqp=CAU" width="30" height="30" class="d-inline-block align-top" alt="">
    FirstCare
  </a>
  </a>
      </li>    
    </ul>
  </div>  
</nav>
<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h1>Customer Login</h1><br>
                    <h5>
					With Care1st, you can buy medicines online and get them delivered at your doorstep anywhere in India! Simply search for the products you want to buy, add to cart and checkout
					</h5><br>
                        
                        <div class="form-group">
                            <a style="text-align: center;" type="submit" class="btnSubmit" href="/customer/login">Login</a>
                        </div>
                    
                </div>
                <div class="col-md-6 login-form-2">
                    
                    <h1>Company Login</h1><br>
					<h5>
					We are the market leading online pharmacy for companies to sell their medicines and medical products
					</h5><br>
                        <div class="form-group">
						<form action="#" method="post">
                            <a style="text-align: center;" type="submit" class="btnSubmit" href="/logincom">Login</a>
                        </div>
						</form>

                </div>
            </div>
        </div>
</body>
</html>
